<div class='comicBook {{ site.data.overview[ page.langnumber ].direction }}' id='freegate'>
	<div style='text-align:center;'>
		<h2 id='toolName' class='kicker'>{{ site.data.freegate[ page.langnumber ].toolName }}</h2>
	</div>
	<div class='panel col3 title block'>
		<h1 id='headline'>{{ site.data.freegate[ page.langnumber ].headline }}</h1>
		<h2 id='tagline'>{{ site.data.freegate[ page.langnumber ].tagline }}</h2>
	</div>
	<div class='panel col3 block comicIntro'>
		<div class='subpanel third' style='margin-right:0; padding-right:0;'>
			<img src='https://www.voanews.com/MediaAssets2/projects/circumvention/img/intro_3{% if site.data.overview[ page.langnumber ].direction == 'rtl'%}_rtl{% endif %}.png' class='imagePanel' style='margin-right:0; padding-right:0;'/>
		</div>
		<div class='subpanel twothirds'>
			<p id='introduction' class='textPad all balloon' style='padding: 15px; text-align:center; background-color:#FFF;'>{{ site.data.freegate[ page.langnumber ].introduction }}<</p>
		</div>
	</div>
	<div class='clearMe'></div>

	<div class='panel col3 block'>
		<p id='panel1' class='textPad blackBox' >{{ site.data.freegate[ page.langnumber ].panel1 }}</p>
		<img src='https://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_freegate_2{% if site.data.overview[ page.langnumber ].direction == 'rtl'%}_rtl{% endif %}.png' class='imagePanel'/>
		<div class="insetBox" style="bottom: 6%; width: 60%; right: 8%; border:none; background:none;">
			<p id='panel1_inset' style='text-align:center; color:#c2b59b; font-size:1.3em;'>{{ site.data.freegate[ page.langnumber ].panel1_inset }}</p>
		</div>
	</div>
	<div class='panel col3 block'>
		<p id='panel2' class='textPad blackBox' style='padding-bottom:15px;' >{{ site.data.freegate[ page.langnumber ].panel2 }}</p>
		<img src='https://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_freegate_3{% if site.data.overview[ page.langnumber ].direction == 'rtl'%}_rtl{% endif %}.png' class='imagePanel'/>
	</div>
	
	<div class='panel col3 block'>
		<p id='panel3' class='textPad top' >{{ site.data.freegate[ page.langnumber ].panel3 }}</p>
		<img src='https://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_freegate_4{% if site.data.overview[ page.langnumber ].direction == 'rtl'%}_rtl{% endif %}.png' class='imagePanel'/>
	</div>
	<div class='panel col3 block'>
		<p id='panel4' class='textPad top' >{{ site.data.freegate[ page.langnumber ].panel4 }}</p>
		<img src='https://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_freegate_5{% if site.data.overview[ page.langnumber ].direction == 'rtl'%}_rtl{% endif %}.png' class='imagePanel'/>
	</div>

	<div class='panel col3 block'>
		<p id='panel5' class='textPad top' >{{ site.data.freegate[ page.langnumber ].panel5 }}</p>
		<div style='padding:0; position: relative; margin:0;'>
			<img src='https://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_freegate_6{% if site.data.overview[ page.langnumber ].direction == 'rtl'%}_rtl{% endif %}.png' class='imagePanel'/>
			<div class="insetBox" style="top: 7%; left: 5%; width: 70%; border:none; padding:0;background-color:transparent">
				<p id='panel5_inset' class="computer" style='color:#000; padding:0;'>{{ site.data.freegate[ page.langnumber ].panel5_inset }} </p>
			</div>
		</div>
	</div>

	<div class='panel col3 block'>
		<p id='panel6' class='textPad top' >{{ site.data.freegate[ page.langnumber ].panel6 }}</p>
		<img src='https://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_freegate_7{% if site.data.overview[ page.langnumber ].direction == 'rtl'%}_rtl{% endif %}.png' class='imagePanel'/>
	</div>
</div>