	<section>

		<div class="toolsTable">

			<div class="voa__grid__full">

				<table id="tools" style="max-width: 640px;">

					<tbody>

						<tr>
							<th id="comparisonTitle" class="toolName">{{ site.data.overview[ page.langnumber ].comparisonTitle }}</th>
							<th title="Anonymity" id="anonymity" class="metric"><span>{{ site.data.overview[ page.langnumber ].comparisonAnonymity }}</span></th>
							<th title="Circumvention" id="circumvention" class="metric"><span>{{ site.data.overview[ page.langnumber ].comparisonCircumvention }}</span></th>
							<th title="Portability" id="portability" class="metric"><span>{{ site.data.overview[ page.langnumber ].comparisonPortability }}</span></th>
							<th title="Encryption" id="encryption" class="metric"><span>{{ site.data.overview[ page.langnumber ].comparisonEncryption }}</span></th>
						</tr>
						<tr class="toolRow toolDNS">
							<td><a href="dns">{{ site.data.dns[ page.langnumber ].toolName }}</a></td>
							<td class="metric"></td>
							<td class="metric true"></td>
							<td class="metric true"></td>
							<td class="metric"></td>
						</tr>
						<tr class="toolRow toolFreegate">
							<td><a href="freegate">{{ site.data.freegate[ page.langnumber ].toolName }}</a></td>
							<td class="metric true"></td>
							<td class="metric"></td>
							<td class="metric"></td>
							<td class="metric true"></td>
						</tr>
						<tr class="toolRow toolPGP">
							<td><a href="pgp">{{ site.data.pgp[ page.langnumber ].toolName }}</a></td>
							<td class="metric"></td>
							<td class="metric"></td>
							<td class="metric"></td>
							<td class="metric true"></td>
						</tr>
						<tr class="toolRow toolPsiphon">
							<td><a href="psiphon">{{ site.data.psiphon[ page.langnumber ].toolName }}</a></td>
							<td class="metric true"></td>
							<td class="metric true"></td>
							<td class="metric true"></td>
							<td class="metric true"></td>
						</tr>
						<tr class="toolRow toolTor">
							<td><a href="tor">{{ site.data.tor[ page.langnumber ].toolName }}</a></td>
							<td class="metric true"></td>
							<td class="metric true"></td>
							<td class="metric"></td>
							<td class="metric true"></td>
						</tr>
						<tr class="toolRow toolUltraSurf">
							<td><a href="ultrasurf">{{ site.data.ultrasurf[ page.langnumber ].toolName }}</a></td>
							<td class="metric true"></td>
							<td class="metric true"></td>
							<td class="metric true"></td>
							<td class="metric true"></td>
						</tr>
						<tr class="toolRow toolVPN">
							<td><a href="vpn">{{ site.data.vpn[ page.langnumber ].toolName }}</a></td>
							<td class="metric true"></td>
							<td class="metric true"></td>
							<td class="metric true"></td>
							<td class="metric true"></td>
						</tr>

					</tbody>

				</table>

			</div>

		</div><!-- .toolsTable -->

	</section>



	<footer class="site-footer">

		<section class="voa__section__full-width voa__footer dark">

			<div class="voa__grid__full">

				<div class="voa__grid">

					<div class="voa__flex-grid__one-third voa__rule voa__hang-right" style="max-width: 640px; margin-left: auto; margin-right: auto;">

						<p class="note"><span class="firstcharacter">*</span>{{ site.data.overview[ page.langnumber ].footnote }}</p>

					</div>

				</div>

			</div>

		</section><!-- .voa__footer -->

	</footer>
