<!DOCTYPE html>
<html lang="{{ page.lang | default: site.data.overview[ page.langnumber ].abbreviation | default: "en" }}">

	{% include head.html %}

	<body dir="{{ site.data.overview[ page.langnumber ].direction }}" class="{{ site.data.overview[ page.langnumber ].direction }}">

		<div class="voa__project {{ site.data.overview[ page.langnumber ].language }}">

		{% include header.html %}

		<main class="page-content" aria-label="Content">

			{{ content }}

		</main>

		{% include footer.html %}

		</div>

	</body>

</html>
